@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-size: 18px;
}

// LastPass Autofill Fix
[autocomplete="off"] + div[data-lastpass-icon-root="true"] {
    opacity: 0 !important;
    display: none !important;
}

[autocomplete="off"] + div[data-lastpass-infield="true"] {
    opacity: 0 !important;
    display: none !important;
}

// Outline
.outlined {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
        1px 1px 0 white;
}
